*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.brand{
  margin: 15px 0;
}
.search-box{
  background-color: aquamarine;
  padding: 1.1rem;
  border: 1px solid aquamarine;
}
.card{
  background-color: aqua;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.card h2, .card p{
  margin-bottom: 0px;
}
.card-list{
  width: 90%;
  max-width: 1440px;
  flex-wrap: wrap;
  margin:  0 auto;
  padding:20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}